PUBLIC_HOST=10.0.0.131
PUBLIC_API_HOST=api.land.jrbussard.com
PUBLIC_WORLD_HOST=world.land.jrbussard.com
PUBLIC_HTTP_PORT=8080
PUBLIC_WS_SCHEME=wss
WEB_PORT=8088
NAKAMA_HTTP_PORT=7350
NAKAMA_CONSOLE_PORT=7351
NAKAMA_SOCKET_PORT=7349
WORLD_REGION_0_PORT=7355
WORLD_REGION_1_PORT=7356
WORLD_JWT_SECRET=change-me
NAKAMA_SERVER_KEY=change-me-server-key
NAKAMA_CONSOLE_USERNAME=jrland-admin
NAKAMA_CONSOLE_PASSWORD=change-me-console-password
NAKAMA_CONSOLE_SIGNING_KEY=change-me-console-signing-key
NAKAMA_SESSION_ENCRYPTION_KEY=change-me-session-encryption-key
NAKAMA_SESSION_REFRESH_ENCRYPTION_KEY=change-me-session-refresh-key
NAKAMA_RUNTIME_HTTP_KEY=change-me-runtime-http-key
VITE_NAKAMA_SSL=true
